<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj close</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ item.date | date: 'yyyy-MM-dd'}}</td>
      <td>{{ item.open }}</td>
      <td>{{ item.high }}</td>
      <td>{{ item.low }}</td>
      <td>{{ item.close }}</td>
      <td>{{ item.volume }}</td>
      <td>{{ item.adjClose }}</td>
    </tr>
  </tbody>
</table>

<!--date: Date;
open: number;
high: number;
low: number;
close: number;
volume: number;
adjClose: number;-->