About Company:<br>
Symbol: {{ data.symbol }}<br>
Name: {{ data.name }}<br>
Last sale: {{ data.lastSale }}<br>
Market cap: {{ data.marketCap }}<br>
Year: {{ data.year }}<br>
Sector: {{ data.sector }}<br>
Industry: {{ data.industry }}<br>
Summary: <a target="_blank" href="{{ data.summary }}">link</a>