﻿<div class="container">
  <h1>
    {{title}}
  </h1>
  <app-header-component></app-header-component>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-chart-component *ngIf="stockData.length>0" [data]="stockData" [companyData]="companyData"></app-chart-component>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <app-company-details-component *ngIf="selectedCompany" [data]="selectedCompany"></app-company-details-component>
    </div>
    <div class="col-md-9">
      <p *ngIf="!selectedStock">Select stock to display details data</p>
      <app-data-table-component *ngIf="selectedStock" [data]="selectedStock"></app-data-table-component>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-12">.col-md-12</div>
  </div>-->
</div>