<div class="row">
  <div class="col-md-2">
    <form>
      <div class="form-group">
        <label for="fromDate">From:</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" [(ngModel)]="fromDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-addon" (click)="d1.toggle()" >
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="toDate">To:</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" [(ngModel)]="toDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-addon" (click)="d2.toggle()" >
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <p>
      <label for="symbols">Stock symbols</label><img *ngIf="companyData.length === 0" src="img/spinner.svg" style="width: 1.2rem; height: 1rem;"/>
      <template #rt let-r="result" let-t="term">
        {{ r.name + " (" + r.symbol + ")"}}
      </template>
      <input type="text" [value]="selectedCompanyText" [disabled]="companyData.length === 0" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (keyup.enter)="onSelect($event, input)" (selectItem)="onSelect($event, input)" placeholder="Type to search..."/>
    </p>
    <button type="button" class="btn btn-primary" (click)="addToList()" [disabled]="!symbolToAdd">Add to list</button>
    
  </div>
  <div class="col-md-6">
      <span *ngIf="selected.length === 0">List is empty, add something!</span>
      <ol>
        <li *ngFor="let item of selected; let i = index">
          {{item.name}} ({{item.symbol}}) <span class="badge badge-pill badge-danger cursor-pointer" (click)="deleteFromList(i)">Delete</span><span class="badge badge-pill badge-info cursor-pointer" (click)="selectStock(i)">Select</span><img *ngIf="item.loading" src="img/spinner.svg" style="width: 1.2rem; height: 1rem;"/>
        </li>
      </ol>
      <button type="button" class="btn btn-primary" (click)="displayChart()" [disabled]="selected.length === 0">Get chart for this symbols</button>
  </div>
</div>