﻿/* You can add global styles to this file, and also import other style files */

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.dot1 {
 stroke: black;
 fill: darkblue;
}

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.dot2 {
 stroke: black;
 fill: darkred;
}
.line3 {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}

.dot3 {
 stroke: black;
 fill: darkgreen;
}
.line4 {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.dot4 {
 stroke: black;
 fill: darkorange;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid black;
  width: 150px;
  height: 128px;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}